body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove default margin */
}
.footerContainer {
  display: flex;
  background-color: #535bf2;
  width: 100%;
  margin-top: auto; /* Pushes it to the bottom */
}
.startBtn{
  max-width: 50px;
  max-height: 50px;
}